<div class="container">
    <form (submit)="onSubmit()" style="width: 100%; background-color: wheat;">
        <div style="width: 100%;display: flex;">                
            <div style="flex:1;color: black;">
                <h1>Your order has been confirmed, Thank you.</h1>
            </div>            
        </div>        
        <div style="padding: 3%;">
            <input type="submit" class="button" value="Sign Out" style="width: 15%; font-size: 15px;">            
        </div>
    </form>
</div>